header {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  height: 90vh;
  padding: 0;
}

.top {
  margin-left: 100%;
  scale: 0.6;
}

.bottom {
  margin-right: 100%;
  scale: 0.6;
}

p {
  color: #cc9933;
}

@media (max-width: 1025px) {
.top, .bottom {
  scale: 0.4;
}
}