.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(0.1rem + 0.5vw) calc(0.1rem + 0.5vw);
}

.navbar-brand {
  height: 60px;
}

.navbar-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-nav li {
  position: relative;
}

.side-bar {
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50vw;
  z-index: 999;
  background-color: #ffffff48;
  backdrop-filter: blur(20px);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
}

.side-bar li {
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 25%;
  display: flex;
}

.burger-menu {
  visibility: collapse;
}

@media (max-width: 768px) {
  .hiddenOnMobile {
    display: none;
  }
  .showedOnMobile {
    visibility: visible;
  }
}

@media (max-width: 400px) {
.side-bar{
  width: 100vw;
}
}