.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(0.1rem + 0.5vw) calc(0.1rem + 0.5vw);
}

.navbar-brand {
  height: 60px;
}

.navbar-nav {
  list-style: none;
  display: flex;
}

.navbar-nav li {
  position: relative;
}

.dropdown {
  list-style: none;
  position: relative;
}

.dropdown-content {
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out,
    filter 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: #ffffff;
  z-index: 1;
  list-style: none;
  top: 100%;
  left: 0;
}
.dropdown-items {
  font-size: smaller;
}
.dropdown-items:hover {
  text-decoration: underline;
}
.dropdown-content a {
  padding: 10px 10px;
  display: block;
  transition: all 0.3s ease-in-out;
}

.dropdown:hover .dropdown-content {
  opacity: 1;
  visibility: visible;
}

.dropdown:hover .dropdown-content a {
  filter: blur(0);
}

.dropdown-content a:not(:hover) {
  filter: blur(4px);
}
