.vignette-container {
  width: 80%;
  display: flex;
}
.vignette-right {
margin-left: 75%;
}
.vignette-left{
  margin-right: 75%;
}
.down-arrow {
  margin: 1em;
}

.centered-container img {
  border-radius: 50%;
}
.vignette-container {
  visibility: collapse;
}

@media (max-width: 767px) {
  
  .vignette-right, .vignette-left {
    scale: 0.5;
  }
  .vignette-container{
    width: 90%;
  }
}