/* Fonts */
@font-face {
  font-family: Glacial-Indifference;
  src: url("./assets/fonts/glacial-indifference/GlacialIndifference-Regular.otf")
    format("opentype");
}

@font-face {
  font-family: Borcha;
  src: url("./assets/fonts/borcha-regular.otf") format("opentype");
}

@font-face {
  font-family: Netflix;
  src: url("./assets/fonts/NetflixSans-Regular.otf") format("opentype");
}

/* Elements */

h1 {
  font-family: Borcha, Glacial-Indifference, Courier, monospace;
  letter-spacing: 0.03em;

}
h2,
h3,
h4 {
  font-family: Borcha, sans-serif;
  opacity: 0.85;
  font-weight: 100;
  letter-spacing: 0.05em;
}

h1 {
  font-size: 23rem;
  color: #cc9933;
  font-weight: 100;
  margin: 0;
  padding: 2rem;
  text-align: left;
  width: 1400px;
}
h2 {
  font-size: 10rem;
  color: #cc9933;
  margin: 0.2em;
}

h3 {
  font-size: 5rem;
  color: #cc9933;
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  font-size: 2rem;
  font-weight: 600;
  color: #cc9933;
  
}

a {
  font-family: Netflix;
  font-size: smaller;
  text-decoration: none;
  margin: 0 10px;
  opacity: 0.85;
  font-weight: 600;
  color: #cc9933;
}

p {
  font-family: Glacial-Indifference;
  opacity: 0.85;
  display: wrap;
  max-width: 550px;
  min-width: 370px;
  letter-spacing: -0.02em;
  text-align: center;
}

/* Layouts */
.centered-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.centered-container {
  display: flex;
  justify-content: center;
  align-items:center;
  text-align: center;

}

.column {
  flex-direction: column;
}

.scrolling-wrapper {
  display: flex;
  flex-direction: row;
  gap: 8em;
  flex-wrap: wrap;
  max-width: 80%;
  margin-left: 10%;
  margin-bottom: 5%;
}
.card {
  width: 320px;
  height: 200px;
  padding: 1em;
}

.card h4 {
  margin: 0;
}

