/* Fonts */
@font-face {
  font-family: Glacial-Indifference;
  src: url("./assets/fonts/glacial-indifference/GlacialIndifference-Regular.otf")
    format("opentype");
}

@font-face {
  font-family: Borcha;
  src: url("./assets/fonts/borcha-regular.otf") format("opentype");
}

@font-face {
  font-family: Netflix;
  src: url("./assets/fonts/NetflixSans-Regular.otf") format("opentype");
}

/* Elements */

h1 {
  font-family: Borcha, Glacial-Indifference, Courier, monospace;
  letter-spacing: 0.03em;
  max-width: 100vw;
}
h2,
h3,
h4 {
  font-family: Borcha, sans-serif;
  opacity: 0.85;
  font-weight: 100;
  letter-spacing: 0.05em;
}

h1 {
  font-size: calc(1rem + 13vw);
  color: #cc9933;
  font-weight: 100;
  margin: 0;
  padding: 2rem;
}
h2 {
  font-size: calc(1rem + 10vw);
  color: #cc9933;
  margin: 0.2em;
}

h3 {
  font-size: calc(1rem + 5vw);
  color: #cc9933;
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  font-size: calc(1rem + 2vw);
  font-weight: 600;
  color: #cc9933;
}

a {
  font-family: Glacial-Indifference;
  text-decoration: none;
  margin: 0 10px;
  opacity: 1;
  /* font-weight: 600; */
  color: #cc9933;
}

footer a {
  font-size: calc(0.4rem + 0.4vw);
}
.navbar a {
  font-size: calc(0.6rem + 0.4vw);
}
p {
  font-family: Glacial-Indifference;
  opacity: 0.85;
  display: wrap;
  max-width: 550px;
  padding: 1em;
  letter-spacing: -0.02em;
  text-align: center;
  margin: 0.5em;
}

/* Layouts */
.centered-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.column {
  flex-direction: column;
}

.scrolling-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1em;
  flex-wrap: wrap;
  max-width: 100%;
  margin-bottom: 5%;
  justify-content: center;
}
.card {
  width: 400px;
  height: 400px;
  padding: .2em;
}

.card h4 {
  margin: 0;
}

@media (max-width: 1200px) {
  .centered-container {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .centered-container {
    flex-direction: column;
  }

  .card img {
    scale: 0.8;
  }
}